<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rosehulman.android.directory"
    android:versionCode="0"
    android:versionName="0.1" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".MyApplication" >
        
        <activity
            android:label="@string/app_name"
            android:name=".StartupActivity"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar"
            android:configChanges="keyboardHidden|orientation" 
            android:launchMode="singleTop" 
            android:allowTaskReparenting="true" >
            
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <meta-data
            	android:name="android.app.default_searchable"
                android:value=".PersonSearchActivity" />
        </activity>
        
        <activity
            android:name=".PreferencesActivity"  
            android:exported="true" >
        </activity>
        
        <activity
            android:label="RHIT Mobile Login"
            android:name=".LoginActivity"  
            android:exported="true" 
            android:configChanges="keyboardHidden|orientation" 
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".CampusMapActivity" 
            android:exported="true" >
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".LocationSearchActivity" />
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".DirectionListActivity"
            android:theme="@android:style/Theme.Light" >
        </activity>
        
        <activity
            android:label="Campus Services"
            android:name=".CampusServicesActivity"
            android:exported="true" 
            android:theme="@style/Theme.Sherlock"
            android:launchMode="singleTop" >
                        
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_services" />
        </activity>
        
        <activity
            android:label="Campus Tours"
            android:name=".CampusToursStartupActivity" 
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@style/Theme.Sherlock"
            android:exported="true" >
        </activity>
                
        <activity
            android:label="Tour Interest Selection"
            android:name=".CampusToursTagListActivity"  
            android:theme="@style/Theme.Sherlock"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        
        <activity
            android:label="Tour Interests"
            android:name=".CampusToursTagSelectActivity"  
            android:theme="@style/Theme.Sherlock"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        
        <activity
            android:label="Off Campus Tour"
            android:name=".CampusToursOffCampusActivity"  
            android:theme="@style/Theme.Sherlock"
            android:configChanges="keyboardHidden|orientation" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".LocationActivity"
            android:theme="@android:style/Theme.Light" >
        </activity>
        
        <activity
            android:label="Person"
            android:name=".PersonActivity" 
            android:theme="@style/Theme.Sherlock" >
        </activity>
        
        <activity
            android:label="Schedule"
            android:name=".SchedulePersonActivity" 
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        </activity>
        
        <activity
            android:label="Room Schedule"
            android:name=".ScheduleRoomActivity" 
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".ScheduleCourseActivity" 
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".LocationSearchActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Light" >
            
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_location" />
        </activity>
        
        <activity
            android:label="Directory"
            android:name=".PersonSearchActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.Sherlock" >
            
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_person" />
        </activity>

        <uses-library android:name="com.google.android.maps" />
        
        <provider
            android:name=".providers.LocationSearchSuggestions" 
            android:authorities="edu.rosehulman.android.directory.providers.LocationSearchSuggestions"/>
        
        <provider
            android:name=".providers.PeopleSearchSuggestions" 
            android:authorities="edu.rosehulman.android.directory.providers.PeopleSearchSuggestions"/>
        
        <provider
            android:name=".providers.CampusServicesSearchSuggestions" 
            android:authorities="edu.rosehulman.android.directory.providers.CampusServicesSearchSuggestions"/>
        
		<service android:enabled="true" android:name=".DataUpdateService" />        
        
    </application>

</manifest>