<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rosehulman.android.directory"
    android:versionCode="350"
    android:versionName="0.8" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".MyApplication" >
        
        <activity
            android:label="@string/app_name"
            android:name=".StartupActivity"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar"
            android:configChanges="keyboardHidden|orientation" 
            android:launchMode="singleTop" 
            android:allowTaskReparenting="true" >
            
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <meta-data
            	android:name="android.app.default_searchable"
                android:value=".PersonSearchActivity" />
        </activity>
        
        <activity
            android:label="Preferences"
            android:name=".PreferencesActivity"  
            android:exported="true" 
            android:theme="@style/Theme.Sherlock" >
        </activity>
        
        <activity
            android:label="RHIT Mobile Login"
            android:name=".auth.LoginActivity"  
            android:exported="true" 
            android:configChanges="keyboardHidden|orientation" 
            android:windowSoftInputMode="stateUnchanged" 
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Sherlock" >
        </activity>
        
        <activity
            android:name=".compat.ChooseTypeAndAccountActivity" 
            android:theme="@style/Theme.Sherlock">
        </activity>
        
        <activity
            android:name=".compat.ChooseAccountTypeActivity" 
            android:theme="@style/Theme.Sherlock">
        </activity>
        
        <activity
            android:label="Campus Map"
            android:name=".CampusMapActivity" 
            android:exported="true" 
            android:theme="@style/Theme.Sherlock" >
            
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".LocationSearchActivity" />
        </activity>
        
        <activity
            android:label="Directions"
            android:name=".DirectionListActivity"
            android:theme="@style/Theme.Sherlock.Dialog" >
        </activity>
        
        <activity
            android:label="Campus Services"
            android:name=".CampusServicesActivity"
            android:exported="true" 
            android:theme="@style/Theme.Sherlock" >

            <meta-data
            	android:name="android.app.default_searchable"
                android:value=".CampusServicesSearchActivity" />
        </activity>
        
        <activity
            android:label="Campus Services"
            android:name=".CampusServicesSearchActivity"
            android:exported="true" 
            android:theme="@style/Theme.Sherlock"
            android:launchMode="singleTop" >
                        
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_services" />
        </activity>
        
        <activity
            android:label="Campus Tours"
            android:name=".CampusToursStartupActivity" 
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@style/Theme.Sherlock"
            android:exported="true" >
        </activity>
                
        <activity
            android:label="Tour Interest Selection"
            android:name=".CampusToursTagListActivity"  
            android:theme="@style/Theme.Sherlock"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        
        <activity
            android:label="Tour Interests"
            android:name=".CampusToursTagSelectActivity"  
            android:theme="@style/Theme.Sherlock"
            android:configChanges="keyboardHidden|orientation" >
            
            <meta-data
            	android:name="android.app.default_searchable"
                android:value=".CampusToursTagSelectSearchActivity" />
        </activity>
        
        <activity
            android:label="Tour Interests"
            android:name=".CampusToursTagSelectSearchActivity"  
            android:theme="@style/Theme.Sherlock"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop" >
                        
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_tour_tag" />
        </activity>
        
        <activity
            android:label="Off Campus Tour"
            android:name=".CampusToursOffCampusActivity"  
            android:theme="@style/Theme.Sherlock"
            android:configChanges="keyboardHidden|orientation" >
        </activity>

        <activity
            android:label="Location"
            android:name=".LocationActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        
        <activity
            android:label="Person"
            android:name=".PersonActivity" 
            android:theme="@style/Theme.Sherlock" >
        </activity>
        
        <activity
            android:label="Schedule"
            android:name=".SchedulePersonActivity" 
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        
        <activity
            android:label="Room Schedule"
            android:name=".ScheduleRoomActivity" 
            android:theme="@style/Theme.Sherlock.Light">
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".ScheduleCourseActivity" 
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        </activity>
        
        <activity
            android:label="Location Search"
            android:name=".LocationSearchActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.Sherlock" >
            
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_location" />
        </activity>
        
        <activity
            android:label="Directory"
            android:name=".PersonSearchActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.Sherlock" >
            
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_person" />
        </activity>

        <uses-library android:name="com.google.android.maps" />
        
        <provider
            android:name=".providers.LocationSearchSuggestions" 
            android:authorities="edu.rosehulman.android.directory.providers.LocationSearchSuggestions"/>
        
        <provider
            android:name=".providers.PeopleSearchSuggestions" 
            android:authorities="edu.rosehulman.android.directory.providers.PeopleSearchSuggestions"/>
        
        <provider
            android:name=".providers.CampusServicesSearchSuggestions" 
            android:authorities="edu.rosehulman.android.directory.providers.CampusServicesSearchSuggestions"/>
        
        <provider
            android:name=".providers.TourTagsSearchSuggestions" 
            android:authorities="edu.rosehulman.android.directory.providers.TourTagsSearchSuggestions"/>
        
		<service android:enabled="true" android:name=".DataUpdateService" />

		<service android:name=".auth.AuthenticationService" android:permission="android.permission.ACCOUNT_MANAGER">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>
</application>

</manifest>
