[submodule "src/android-mapviewballoons"]
	path = src/android-mapviewballoons
	url = https://github.com/jgilfelt/android-mapviewballoons.git
[submodule "src/ActionBarSherlock"]
	path = src/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
